<div class="w-full">
  <div
    class="cap-width px-[108px] py-[23px] bg-white border-b-2 border-blue-200 flex justify-between"
  >
    <div><img src="images/logo.svg" alt="Estatery logo" /></div>
    <div class="py-[8px]">
      <app-menus
        menuType="navbar"
        [menuData]="['Home', 'Products', 'Categories', 'About']"
      >
      </app-menus>
    </div>
    <div>
      <app-button
        text="Login / Sign Up"
        [style]="'fill'"
        color="primary"
      ></app-button>
    </div>
  </div>
</div>
